@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

/* Global */
body, input, button{
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 17px;
}

p, label, input, button, ::placeholder{
    font-size: 14px;
}

::placeholder {
    color: #B3B3B3;
}

* {
    box-sizing: border-box;
}

img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

h3 {
    font-weight: bold;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Main Container */
.body-container{
    display: flex;
    background-color: #f3f3f3;
}

/* Aside */
aside.persons-chat {
    height: 100vh;
    width: 30%;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
}

/* Aside - Profile */
header.profile {
    background-color: #323CEA;
    padding: 1rem 2rem 2rem 2rem;
    height: 110px;
}

.profile .container {
    display: flex;
    justify-content: space-between;

}

.profile-content {
    display: flex;
}

.profile-info, .profile-edit-toggle {
    align-self: center;
}

.profile-info {
    margin-left: 10px;
}

.profile-info  h3{
    color: #f3f3f3;
    font-size: 18px;
}

.profile-info .status{
    margin-top: 3px;
}

.profile-info .indicator{
    background-color: #1BEF70;
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
}

.profile-info .indicator-desc{
    font-size: 12px;
    color: #f3f3f3;
}

.profile-edit-toggle i {
    font-size: 24px;
    color: #f3f3f3;
}

/* Aside - Search*/
section.search {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.search .container {
    position: relative;
    top: -1rem;
    width: 85%;
}

.search-box {
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 38px;
    padding-left: .5rem;
}

.search-box i {
    color:#B3B3B3;
    margin-top: 2px;
}

#search-input{
    width: 90%;
    outline: 0;
    border: 0;
    padding: 0 0 0 5px;
    line-height: 38px;
}

/* Aside - Friends */
section.friends{
    width: 100%;
    height: calc(100vh - 140px);
    background-color: #fff;
    padding: 0 2rem 2rem 2rem;
    overflow-y: scroll;
}

.friend-content {
    display: flex;
    cursor: pointer;    
}

.friend-info{
    align-self: center;
    margin-left: 10px;
}

.friends h3, .friends p {
    color: #444;
}

.friends h3 {
    font-size: 18px;
}

.friends p{
    margin-top: 3px;
}

.friend-content {
    margin-top: 1rem;
}

/* main */
main.conversation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
}

.inactive-chat i {
    font-size: 100px;
    color: #444;
}

.inactive-chat-desc {
    margin-top: 10px;
    font-size: 18px;
    color: #444;
}

/* Navbar */
nav.edit-profile{
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 30%;
    padding: 2.5rem 2rem 2rem 3.2rem;
    transform: translateX(-800px);
    transition: .4s ease-in-out;
}

nav.edit-profile.nav-appear{
    transform: translateX(0);
    transition: .3s ease-in-out;
}

nav header{
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
}

.desc-title{
    margin-top: 8px;
}

.close-btn i {
    font-size: 28px;
}

.user-image{
    display: flex;
}

.user-image img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.upload-image{
    margin-left: 1.5rem;
    align-self: center;
    min-height: 30px;
    width: 35%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.label-fullname, .label-email, .label-username {
    display: block;
}

#fullname, #email, #username{
    margin-top: 8px;
    border-radius: 5px;
    border: 2px solid #B3B3B3;
    height: 45px;
    outline: 0;
    padding-left: 10px;
    width: 90%;
}

.submit, .discard {
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    height: 37px;
}

.submit{
    background-color: #323CEA;
    color: #f3f3f3;
    width: 45%;
}

.discard {
    background-color: #E6E6E6;
    color: #444;
    width: 45%;
}

.email-field, .username-field{
    margin-top: 1.2rem;
}

.fullname-field {
    margin-top: 2rem;
}

.submit-btn{
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

nav .profile-edit{
    margin-top: 2rem;
}


#fullname:focus, #email:focus,  #username:focus{
    border: 2px solid #323CEA;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    transition: ease-in .25s; 
    color: #323CEA;
}

.submit:hover, .discard:hover{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    transition: ease-in .25s;
      
} 

.submit:hover{
    background-color: #1c24bb; 
}

.discard:hover {
    background-color: #f5f5f5;
}

.upload-image:hover{
    background-color: #f5f5f5;
    transition: ease-in .25s;
}

.close-btn i, .profile-edit-toggle i, .upload-image, .submit, .discard {
    cursor: pointer;
}



/* Media Queries */
@media screen and (max-width:1023px) {
    /* Aside, main, Navbar */
    aside.persons-chat, main.conversation, nav.edit-profile{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    /* Aside, Navbar */
    aside.persons-chat, nav.edit-profile {
        width: 100%;
    }

    /* main */
    main.conversation{
        display: none;
    }
}

