@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

/* Global */
body, input, button{
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 17px;
}

p, label, input, button, ::placeholder{
    font-size: 14px;
}

::placeholder {
    color: #B3B3B3;
}

* {
    box-sizing: border-box;
}

img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #444;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* Main Container */
.body-container{
    display: flex;
    background: linear-gradient(355.17deg, #2632FF -29.47%, #00A6CB 116.85%, #00C2FF 116.85%);
    height: 100vh;
}

/* Aside */
aside.persons-chat {
    margin: auto;
    height: 95%;
    border-radius: 10px;
    width: 30%;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    overflow-x: hidden;  
    overflow-y: hidden;
}


/* Aside - Profile */
header.profile {
    background: linear-gradient(355.17deg, #2632FF -29.47%, #00A6CB 116.85%, #00C2FF 116.85%);
    padding: 1rem 2rem 2rem 2rem;
    height: 110px;
}

.profile .container {
    display: flex;
    justify-content: space-between;
}

.profile-content {
    display: flex;
}

.profile-info, .profile-edit-toggle {
    align-self: center;
}

.profile-info {
    margin-left: 10px;
}

.profile-info  h3{
    color: #f3f3f3;
    font-size: 18px;
}

.profile-info .status{
    margin-top: 3px;
}

.indicator{
    background-color: #1BEF70;
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
}

.indicator-desc{
    font-size: 12px;
    color: #f3f3f3;
}

.profile-edit-toggle i {
    font-size: 24px;
    color: #f3f3f3;
}

/* Aside - Search*/
section.search {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.search .container {
    position: relative;
    top: -1rem;
    width: 85%;
}

.search-box, .search-result {
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.search-box {
    height: 38px;
    padding-left: .5rem;
}


.search-box i {
    color:#B3B3B3;
    margin-top: 2px;
}

#search-input{
    width: 90%;
    outline: 0;
    border: 0;
    padding: 0 0 0 5px;
    line-height: 38px;
}

.search-result {
    margin-top: 5px;
}

.search-result .user {
    display: flex;
    cursor: pointer;
}

.search-result .user:not(:nth-child(1)){
    margin-top: 20px;
}

.search-result .user:hover {
    background-color: rgba(0, 0, 0, .10);
    transition: .25s;
}

.info-field {
    align-self: center;
    margin-left: 1rem;
}

.info-field h1 {
    font-weight: 500;
}
 
/* Aside - Friends */
section.friends{
    width: 100%;
    height: calc(100vh - 140px);
    background-color: #fff;
    padding: 0 2rem 2rem 2rem;
    overflow-y: scroll;
}

section.friends .container {
    padding: 0 0 4rem 0;
}

section .friend-content {
    display: flex;
    cursor: pointer;    
    margin-top: 1rem;
}

.friend-last-chat{
    align-self: center;
    margin-left: 10px;
    width: 80%;
}

.last-message {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.friends h3, .friends p {
    color: #444;
}

.friends h3 {
    font-size: 18px;
}

.friends p{
    margin-top: 3px;
}


/* Aside - Navbar */
nav.edit-profile{
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2.5rem 2rem 2rem 3.2rem;
    transform: translateX(-100%); 
    transition: .4s ease-in-out;
}

nav.edit-profile.nav-appear{
    transform: translateX(0);
    transition: .3s ease-in-out;
}

nav header{
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 20px;
    color: #444;
    font-weight: bold;
}

.desc-title{
    margin-top: 8px;
}

.close-btn i {
    font-size: 28px;
}

.user-image{
    display: flex;
}

.user-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.upload-image{
    margin-left: 1.5rem;
    align-self: center;
    width: 35%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.label-fullname, .label-email, .label-username {
    display: block;
}

#fullname, #email, #username{
    margin-top: 8px;
    border-radius: 5px;
    border: 2px solid #B3B3B3;
    height: 45px;
    outline: 0;
    padding-left: 10px;
    width: 90%;
}

.submit {
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    height: 37px;
}

.submit{
    background: linear-gradient(180deg, #323CEA 34.38%, #1B55E9 100%, #1651E8 100%);
    color: #f3f3f3;
    width: 100%;
    height: 40px;
}

.email-field, .username-field{
    margin-top: 1.2rem;
}

.fullname-field {
    margin-top: 2rem;
}

.submit-btn{
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

nav .profile-edit{
    margin-top: 2rem;
}


#fullname:focus, #email:focus,  #username:focus{
    border: 2px solid #323CEA;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    transition: ease-in .25s; 
    color: #323CEA;
}

.submit:hover{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    transition: ease-in .25s;
      
} 

.submit:hover{
    background-color: #1c24bb; 
}

.discard:hover {
    background-color: #f5f5f5;
}

.upload-image:hover{
    background-color: #f5f5f5;
    transition: ease-in .25s;
}

.close-btn i, .profile-edit-toggle i, .upload-image, .submit, .discard {
    cursor: pointer;
}

.edit-status {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #F3F3F3;
    z-index: 3;
}


/* media query */
@media screen and (max-width:1023px) {
    aside.persons-chat {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    aside.persons-chat {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
